.stats-panel {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.stats-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 30px;
}

.stats-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.graph-title {

    padding: 5px;
    border-bottom: solid 1px orangered;
}