.stats-panel {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.stats-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.stats-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}